<div class="content">
    <h2>Jugadores</h2>
    <br>
    <mat-card>
        <ul>
            <li>
                Acceso directo al Juego Tic Tac Toe
            </li>
            <li>
                <button type="button" class="default" (click)="redirect()">Ir</button>
            </li>
        </ul>
    </mat-card>

</div>