<div class="oss-login-form">
    <div class="login-header">
        <h2>Practica</h2>
    </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="authUser()" autocomplete="off">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" formControlName="usuario">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password">
        <span class="oss-error-message" id="error-message"></span>
        <button type="submit" class="dark">Iniciar sesi&oacute;n</button>
    </form>
</div>