/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@next/nx-themes/themes/orange';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.header-container {
    background-color: #346bfe;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    // position: absolute;
    z-index: 4000;
}

.header-container h3 {
    font-weight: bold;
}

.oss-main-section {
    display: block;
    margin: 0;
    padding: 0 !important;
    // flex: 0 1 90%;
}

.container {
    padding-left: 20px;
    padding-top: 30px;
    background-color: #f7f7f7;
}

.mat-tab-group {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 92%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-tab-label {
    color: #346bfe;
    opacity: 1 !important;
}

.mat-tab-label-active {
    color: #ff681e;
    opacity: 1 !important;
}

.mat-ink-bar {
    height: 3px !important;
    background: #ff681e !important;
}

.mat-tab-label-active .mat-tab-label-content {
    font-weight: bold;
}

.grid {
    padding-top: 40px;
    padding: 15px;
    overflow-y: overlay;
    width: 100%;
    background-color: white !important;
}

.grid label {
    font-weight: bold;
}

.botones {
    padding-top: 20px;
    margin-right: 50px;
    float: right;
}

.boton-cancelar {
    background: #cf4404;
    color: white;
}

.boton-limpiar {
    background: white;
    color: #346bfe;
    border: solid 1px #346bfe;
}

.boton-agregar {
    background: #ff681e;
    color: white;
    margin-left: 20px;
}

.card {
    display: inline-block;
    width: 250px;
    height: 150px;
    background-color: white;
    color: #ff681e;
    margin: 15px;
    text-align: center;
    // line-height: 150px;
    box-shadow: 0 0 20px lightgray;
    cursor: pointer;
}

.mat-slide-toggle-thumb {
    width: 15px !important;
    height: 15px !important;
    background-color: gray;
    transform: translate(25%, 40%);
}

.mat-slide-toggle-bar {
    background-color: lightgray;
    border-radius: 15px !important;
    height: 22px !important;
    width: 40px !important;
    border: solid 1px gray;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #346bfe;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: white;
    border: solid 1px #346bfe;
}

.companias-label {
    text-align: left;
    color: gray;
}

.vertical {
    top: 0;
    left: 0;
    background-color: #ff6b00;
    overflow-x: hidden;
    padding-top: 20px;
}

.danger {
    background: gold;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.mat-header-row {
    height: 56px;
    /* background-color: #eee0d9; */
}

.mat-row:nth-child(even) {
    background-color: #dfe6f2
}

.mat-row:nth-child(odd) {
    background-color: #F5F5F5
}

.chkTipos {
    padding-right: 10px;
    padding-top: 20px;
    color: #ff681e;
}

.highlight {
    background: #42A948;
    /* green */
}

.mat-row:hover {
    background-color: #b3d1ff;
}

input:required:invalid {
    border-color: #C00000;
}

input:valid {
    border-color: #ccc;
}

.msgAlert {
    color: red;
}

.msg {
    color: #ccc;
}

.selectFiltros {
    width: 250px;
    //padding-left: 1.25em;
}

.selectFormulario {
    width: 400px;
}

.number {
    margin-left: 25px;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.close-modal {
    text-align: end;
}

.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
    background: #999;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    width: 900px;
    font-weight: lighter;
    margin: 8px 0;
    height: 195px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

th.mat-header-cell {
    //text-align: center !important;
    text-transform: uppercase;
    font-size: 14px;
}

tr.example-detail-row {
    height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5 !important;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef !important;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
    line-height: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

td.mat-cell:first-of-type {
    padding-right: 0px;
}

.tableCenter {
    font-size: 9px;
}

button.btn-block {
    background-color: #ff6b00 !important;
}

button.btn-block {
    background-color: #ff6b00 !important;
}

.dual-list .button-bar button {
    background-color: #ff6b00 !important;
}

.dual-list .button-bar button {
    background-color: #ff6b00 !important;
}

.grid-2 {
    border-left: solid gray;
}

.mat-list-item,
.mat-list-option {
    height: 15px;
    padding-top: 0px;
}

.mat-list-item-ripple {
    height: 15px;
}

.hide-autocomplete {
    display: none;
}

.mat-step-label {
    display: inline-block;
    white-space: pre-line !important;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
    vertical-align: middle;
}

.mat-horizontal-stepper-header {
    display: flex;
    height: 72px;
    overflow: hidden;
    align-items: center;
    padding: 0 24px;
    width: 240px;
}

.boton-regresar {
    height: 36px !important;
    padding: 0 24px !important;
    border-radius: 18px !important;
    color: #fefefe !important;
    border: none !important;
    font-size: 1rem !important;
    background-color: darkgray !important;
    cursor: pointer !important;
}

.mat-step-icon-state-number.mat-step-icon.mat-step-icon-selected {
    background-color: #ff681e !important;
    color: #fff !important;
}

.mat-step-icon-state-edit.mat-step-icon {
    background-color: #ff681e !important;
    color: #fff !important;
}

.orientacion-botones {
    display: flex;
    float: right;
}

.mat-header-cell.cdk-column-ID.mat-column-ID.ng-star-inserted {
    display: none;
}

.mat-cell.cdk-column-ID.mat-column-ID.ng-star-inserted {
    display: none;
}

.mat-step-header {
    overflow: hidden;
    outline: 0;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    cursor: not-allowed;
    pointer-events: none !important;
}

.example-list {
    width: 500px;
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    position: inherit;
    -webkit-box-shadow: 10px 0px 35px -12px rgba(138, 136, 138, 0.88);
    -moz-box-shadow: 10px 0px 35px -12px rgba(138, 136, 138, 0.88);
    box-shadow: 10px 0px 35px -12px rgba(138, 136, 138, 0.88);
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list-2 {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.mt-3 {
    margin-top: 2rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.ms-2 {
    margin-left: 0.5rem;
}

.ms-5 {
    margin-left: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 50%;
}

.p-2 {
    padding: 1rem;
}

.btn-sm {
    height: 26px!important;
    padding: 0 10px!important;
    font-size: 0.75rem!important;
}

button.danger {
    background-color: #fe344f;
    border: solid 1px #fe344f;
}

input,
label {
    display: block;
}

input {
    padding: 1rem;
}

.mat-form-field-flex {
    padding: 0.60rem;
}

::-webkit-file-upload-button {
    background: #ececec;
    border-radius: 18px;
    color: rgb(54, 54, 54);
    border: none;
}