<div class="content">
    <mat-card class="mt-3">
        <mat-card-header>
            <mat-card-title>Datos del empleado</mat-card-title>
        </mat-card-header>
        <form [formGroup]="empleadoPost" (ngSubmit)="guardar()" autocomplete="off">
            <mat-card-content>
                <div class="flex-container">
                    <div class="p-2">
                        <label for="brm">BRM</label>
                        <input id="brm" formControlName="brm" type="text" />
                    </div>
                    <div class="p-2">
                        <label for="puesto">Puesto</label>
                        <mat-form-field style="height:30px;">
                            <mat-select formControlName="puesto" id="puesto">
                                <mat-option [value]="1">Desarrollador FrontEnd Sr</mat-option>
                                <mat-option [value]="2">Desarrollador FrontEnd Jr</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="p-2">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" formControlName="nombre" />
                    </div>
                    <div class="p-2">
                        <label for="imagen">Foto</label>
                        <input type="file" (change)="handleUpload($event)" id="imagen" formControlName="imagen" accept=".jpg" />
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" class="orange ms-5" id="saveButton" [disabled]="empleadoPost.invalid">Agregar</button>
            </mat-card-actions>
        </form>
    </mat-card>


    <mat-card class="mt-3">
        <mat-card-header>
            <mat-card-title>Empleados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="brm">
                    <th mat-header-cell *matHeaderCellDef> brm </th>
                    <td mat-cell *matCellDef="let element"> {{element.brm}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef> Imagen </th>
                    <td mat-cell *matCellDef="let element"> {{element.imagen}} </td>
                </ng-container>

                <ng-container matColumnDef="puesto">
                    <th mat-header-cell *matHeaderCellDef> puesto </th>
                    <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="eliminar(element)" type="button" class="danger btn-sm me-2">Borrar</button>
                        <button type="button" class="primary btn-sm" (click)="openModalDialog(element)">Editar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>

    </mat-card>

</div>
<nx-alert></nx-alert>
<nx-confirm-dialog></nx-confirm-dialog>