<div class="content">
    <div class="corner-right">
        <button class="dark" (click)="logout()">Cerrar Sesi&oacute;n</button>
    </div>
    <div class="message">
        <h1>{{title}}</h1>
        <router-outlet></router-outlet>
    </div>
</div>
<nx-menu [favsItems]="leftContent" [menuItems]="mainContent" title="{{usuario.username}}"> </nx-menu>